# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/
.pnp
.pnp.js

# Build outputs
dist/
dist-ssr/
build/
out/
.next/
.vercel/
coverage/

# Environment variables
.env
.env.*
*.env

# Cache
.cache/
.parcel-cache/
.npm/
.yarn-cache/
.yarn/*
vite.config.ts.timestamp*

# OS-specific files
.DS_Store
Thumbs.db

# Editor settings
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log

# Temp files
tmp/
temp/
*.tmp
